<div class="pengguna-container">
    <h2>Daftar Pengguna</h2>

    <table class="tabel-pengguna">
        <thead>
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Role</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% if (data.length > 0) { %>
                <% data.forEach((user, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= user.username %></td>
                        <td><%= user.role %></td>
                        <td>
                            <a href="/admin/hapus-user/<%= user.id %>" class="btn-hapus" onclick="return confirm('Yakin ingin hapus user ini?')">Hapus</a>
                        </td>

                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4">Belum ada data pengguna.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
